*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
    
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;

}

.Home{
    background-image: url("../resto/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}
 
.btn-custom{

    background-color: rgb(114, 103, 103);
    color: white;
    font-weight: lighter;
}

.Home h1{
 font-size: 3 rem;
 color: white;
 margin-bottom: 1rem;
}
 
.Home button {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    background-color: rgb(129, 114, 114);


}

/*section Menu*/
.menu-section h2 {
    margin-bottom: 2rem;
}


.card img {
    height: 250px;
    object-fit: cover;
   
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
   
}

.about-logo img{
    max-width: bold;
    color: rgb(211, 206, 206);
    margin: 2rem;
    height: 300px;
    width: 300px;
}

.about-text p{
    font-size: 1.1rem;
    line-height: 1.5;
    
}
.about-text h2 b {
    color: rgb(218, 89, 43);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
    margin:0 auto ; 
}

form label {
    font-weight: bold;
    margin-bottom: 8px;
    
}

form input, form textarea {
    padding: 18px;
    border: 3px solid rgb(250, 118, 66);
    border-radius: 5px ;
    font-size: 14px;
    height: 5px;
    width: ;

}

form button{
    padding: 15px;
    background-color: rgb(243, 116, 57);
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border: none ;
    border-radius: 2px;
    cursor: pointer;
    max-width: 20%;
    margin: 30px;
   
    

}

footer{
    text-align: center;
    background-color:rgb(238, 151, 114);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

section h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}









